<!DOCTYPE html>
<html>

<head>
<title>Edit a Patron</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<h2>Edit a Patron</h2>
<p></p>

<h3> Edit: <%= @patron.name %></h3>

<form action="/patrons/<%= @patron.id %>" method= "post" >
	Name: 	<input type="text" name = "name" 	value = "<%= @patron.name%>" > </br>
	Email: <input type="text" name = "email" 	value = "<%= @patron.email%>" > </br>
	<input type="submit" value="Submit Edit to <%= @patron.name%>" >
</form>

</body>
</html>
