<!DOCTYPE html>
<html>

<head>
<title>Book</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<ul>
<h2>Book <%=@books.id%></h2>
<p>Title: <%=@books.title%></p>
<p>Author: <%=@books.author%></p>
<p>ISBN: <%=@books.isbn%></p>

<a href="/books/<%=@books.id%>/edit_book"> Edit A Book</a>
</ul>

</body>
</html>
