<!DOCTYPE html>
<html>

<head>
<title>Library <%=@libraries.id%> </title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<ul>
<h2>Library <%=@libraries.id%></h2>
<p>Branch Name: <%=@libraries.branch_name%></p>
<p>Address: <%=@libraries.address%></p>
<p>Phone Number: <%=@libraries.phone_number%></p>

<a href="/libraries/<%=@libraries.id%>/edit_library"> Edit A Library</a>
</ul>

</body>
</html>
