<!DOCTYPE html>
<html>

<head>
<title>Patron <%=@patrons.id%> </title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<ul>
<h2>Patron <%=@patrons.id%></h2>
<p>Name: <%=@patrons.name%></p>
<p>Email: <%=@patrons.email%></p>

<a href="/patrons/<%=@patrons.id%>/edit_patron"> Edit A Patron</a>
</ul>

</body>
</html>
