<!DOCTYPE html>
<html>

<head>
<title>List of Libraries</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>

<h2>List of Libraries</h2>
<ul>
  <% @libraries.each do |l| %>
    <li><a href="/library/<%=l.id%>"Branch # <%=l.id%></br><%=l.branch_name%></a>
      </br><%=l.address%></br><%=l.phone_number%></li>
  <% end %>
</ul>



</body>
</html>
