<!DOCTYPE html>
<html>

<head>
<title>Staff Member <%=@staff_members.id%> </title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<ul>
<h2>Staff Member <%=@staff_members.id%></h2>
<p>Name: <%=@staff_members.name%></p>
<p>Email: <%=@staff_members.email%></p>

<a href="/staff_members/<%=@staff_members.id%>/edit_staff_member"> Edit A Staff Member</a>
</ul>

</body>
</html>
